/* btn quiero inscribirme */
.btn-inscribirme {
    background-color: transparent;
    color: white;
}

.btn-inscribirme:hover {
    color: white;
}

/* logo header */
#header img {
    width: 50px;
    height: 50px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(40%);
}


#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
   height: 100%;
}

#place-time {
    background-color: #343a40;
    color: white;


}

#place-time img {
    max-width: 100%;

}

#footer {
    background: linear-gradient(90deg, #033147, #193b52 25%, #157fb4);
} 

#footer a {
    color:white;
}